SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/bin/systemctl start powerdown@true.service"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/bin/systemctl start powerdown@false.service"
